rest-ingest-api-suite/deploy-suite.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
    },
    "variables": {
        "Unique ID": "[uniqueString(concat(resourceGroup().id, 'ingest-blob'))]",
        "Identity Name": "[concat('kusto-access-identity-', variables('Unique ID'))]",
        "Get Kusto Resources Name": "[concat('get-kusto-resources-', variables('Unique ID'))]",
        "Ingest Blobs Name": "[concat('ingest-blobs-', variables('Unique ID'))]"
    },
    "resources": [
        {
            "type": "Microsoft.ManagedIdentity/userAssignedIdentities",
            "name": "[variables('Identity Name')]",
            "apiVersion": "2018-11-30",
            "location": "[resourceGroup().location]"
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[variables('Get Kusto Resources Name')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', variables('Identity Name'))]"
            ],
            "identity": {
                "type": "UserAssigned",
                "userAssignedIdentities": {
                    "[resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', variables('Identity Name'))]": {}
                }
            },
            "properties": {
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "defaultDataManagementUri": {
                            "defaultValue": "##DEFINE A DEFAULT VALUE##",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "dataManagementUri": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                    ],
                                    "type": "object"
                                }
                            },
                            "operationOptions": "EnableSchemaValidation"
                        }
                    },
                    "actions": {
                        "data-management-uri": {
                            "runAfter": {},
                            "type": "Compose",
                            "inputs": "@coalesce(triggerBody()?['dataManagementUri'], parameters('defaultDataManagementUri'))"
                        },
                        "get-kusto-identity-token": {
                            "runAfter": {
                                "data-management-uri": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "@outputs('data-management-uri')",
                                    "identity": "[resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', variables('Identity Name'))]",
                                    "type": "ManagedServiceIdentity"
                                },
                                "body": {
                                    "csl": ".get kusto identity token"
                                },
                                "method": "POST",
                                "uri": "@{concat(outputs('data-management-uri'), '/v1/rest/mgmt')}"
                            }
                        },
                        "kusto-identity-token": {
                            "runAfter": {
                                "get-kusto-identity-token": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@body('get-kusto-identity-token').Tables[0].Rows[0][0]"
                        },
                        "get-resources": {
                            "runAfter": {
                                "data-management-uri": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "@outputs('data-management-uri')",
                                    "identity": "[resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', variables('Identity Name'))]",
                                    "type": "ManagedServiceIdentity"
                                },
                                "body": {
                                    "csl": ".get ingestion resources"
                                },
                                "method": "POST",
                                "uri": "@{concat(outputs('data-management-uri'), '/v1/rest/mgmt')}"
                            }
                        },
                        "transform-resources-rows": {
                            "inputs": {
                                "from": "@body('get-resources').Tables[0].Rows",
                                "select": {
                                    "type": "@item()[0]",
                                    "value": "@item()[1]"
                                }
                            },
                            "runAfter": {
                                "get-resources": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Select"
                        },
                        "failed-queue-array": {
                            "runAfter": {
                                "transform-resources-rows": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Query",
                            "inputs": {
                                "from": "@body('transform-resources-rows')",
                                "where": "@equals(item().type, 'FailedIngestionsQueue')"
                            }
                        },
                        "failed-queues": {
                            "runAfter": {
                                "failed-queue-array": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Select",
                            "inputs": {
                                "from": "@body('failed-queue-array')",
                                "select": "@item().value"
                            }
                        },
                        "ready-queue-array": {
                            "runAfter": {
                                "transform-resources-rows": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Query",
                            "inputs": {
                                "from": "@body('transform-resources-rows')",
                                "where": "@equals(item().type, 'SecuredReadyForAggregationQueue')"
                            }
                        },
                        "ready-queues": {
                            "runAfter": {
                                "ready-queue-array": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Select",
                            "inputs": {
                                "from": "@body('ready-queue-array')",
                                "select": "@item().value"
                            }
                        },
                        "successful-queue-array": {
                            "runAfter": {
                                "transform-resources-rows": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Query",
                            "inputs": {
                                "from": "@body('transform-resources-rows')",
                                "where": "@equals(item().type, 'SuccessfulIngestionsQueue')"
                            }
                        },
                        "successful-queues": {
                            "runAfter": {
                                "successful-queue-array": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Select",
                            "inputs": {
                                "from": "@body('successful-queue-array')",
                                "select": "@item().value"
                            }
                        },
                        "temp-storage-array": {
                            "runAfter": {
                                "transform-resources-rows": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Query",
                            "inputs": {
                                "from": "@body('transform-resources-rows')",
                                "where": "@equals(item().type, 'TempStorage')"
                            }
                        },
                        "temp-storages": {
                            "runAfter": {
                                "temp-storage-array": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Select",
                            "inputs": {
                                "from": "@body('temp-storage-array')",
                                "select": "@item().value"
                            }
                        },
                        "response-success": {
                            "runAfter": {
                                "failed-queues": [
                                    "Succeeded"
                                ],
                                "ready-queues": [
                                    "Succeeded"
                                ],
                                "successful-queues": [
                                    "Succeeded"
                                ],
                                "temp-storages": [
                                    "Succeeded"
                                ],
                                "kusto-identity-token": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "body": {
                                    "failedQueue": "@outputs('failed-queues')",
                                    "readyQueue": "@outputs('ready-queues')",
                                    "successfulQueue": "@outputs('successful-queues')",
                                    "tempStorage": "@outputs('temp-storages')",
                                    "identityToken": "@outputs('kusto-identity-token')"
                                },
                                "statusCode": 200
                            },
                            "operationOptions": "Asynchronous"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {}
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[variables('Ingest Blobs Name')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', variables('Identity Name'))]",
                "[resourceId('Microsoft.Logic/workflows', variables('Get Kusto Resources Name'))]"
            ],
            "identity": {
                "type": "UserAssigned",
                "userAssignedIdentities": {
                    "[resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', variables('Identity Name'))]": {}
                }
            },
            "properties": {
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "defaultDataManagementUri": {
                            "defaultValue": "##DEFINE A DEFAULT VALUE##",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "blobs": {
                                            "items": {
                                                "properties": {
                                                    "additionalProperties": {
                                                        "type": "object"
                                                    },
                                                    "blobUri": {
                                                        "type": "string"
                                                    },
                                                    "rawDataSize": {
                                                        "type": "integer"
                                                    }
                                                },
                                                "required": [
                                                    "blobUri"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "dataManagementUri": {
                                            "type": "string"
                                        },
                                        "database": {
                                            "type": "string"
                                        },
                                        "flushImmediately": {
                                            "type": "boolean"
                                        },
                                        "table": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "database",
                                        "table",
                                        "blobs"
                                    ],
                                    "type": "object"
                                }
                            },
                            "operationOptions": "EnableSchemaValidation"
                        }
                    },
                    "actions": {
                        "data-management-uri": {
                            "runAfter": {},
                            "type": "Compose",
                            "inputs": "@coalesce(triggerBody()?['dataManagementUri'], parameters('defaultDataManagementUri'))"
                        },
                        "get-kusto-resources": {
                            "inputs": {
                                "body": {
                                    "dataManagementUri": "@{outputs('data-management-uri')}"
                                },
                                "host": {
                                    "triggerName": "manual",
                                    "workflow": {
                                        "id": "[resourceId('Microsoft.Logic/workflows', variables('Get Kusto Resources Name'))]"
                                    }
                                }
                            },
                            "runAfter": {
                                "data-management-uri": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Workflow"
                        },
                        "put-message-url": {
                            "runAfter": {
                                "get-kusto-resources": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@concat(split(body('get-kusto-resources').readyQueue, '?')[0], '/messages?', split(body('get-kusto-resources').readyQueue, '?')[1], '&api-version=2019-02-02')"
                        },
                        "loop-blobs": {
                            "foreach": "@triggerBody()?['blobs']",
                            "actions": {
                                "add-flush-messages": {
                                    "runAfter": {
                                        "ingestion-message": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Compose",
                                    "inputs": "@if(equals(triggerBody()?['flushImmediately'], null), outputs('ingestion-message'), addProperty(outputs('ingestion-message'), 'FlushImmediately', triggerBody()?['flushImmediately']))"
                                },
                                "add-raw-data-size": {
                                    "runAfter": {
                                        "add-flush-messages": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Compose",
                                    "inputs": "@if(equals(triggerBody()?['rawDataSize'], null), outputs('add-flush-messages'), addProperty(outputs('add-flush-messages'), 'RawDataSize', triggerBody()?['rawDataSize']))"
                                },
                                "additional-properties": {
                                    "runAfter": {
                                        "ingestion-id": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Compose",
                                    "inputs": "@addProperty(coalesce(items('loop-blobs').additionalProperties, json('{}')), 'authorizationContext', body('get-kusto-resources').identityToken)"
                                },
                                "ingestion-id": {
                                    "runAfter": {},
                                    "type": "Compose",
                                    "inputs": "@guid()"
                                },
                                "ingestion-message": {
                                    "runAfter": {
                                        "additional-properties": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Compose",
                                    "inputs": {
                                        "AdditionalProperties": "@outputs('additional-properties')",
                                        "BlobPath": "@{items('loop-blobs').blobUri}",
                                        "DatabaseName": "@{triggerBody()?['database']}",
                                        "Id": "@{outputs('ingestion-id')}",
                                        "ReportLevel": 2,
                                        "ReportMethod": 0,
                                        "RetainBlobOnSuccess": true,
                                        "TableName": "@{triggerBody()?['table']}"
                                    }
                                },
                                "post-message-to-queue": {
                                    "runAfter": {
                                        "add-raw-data-size": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "body": "<QueueMessage><MessageText>@{base64(string(outputs('add-raw-data-size')))}</MessageText></QueueMessage>",
                                        "headers": {
                                            "x-ms-client-request-id": "@{guid()}",
                                            "x-ms-version": "2019-02-02"
                                        },
                                        "method": "POST",
                                        "uri": "@{outputs('put-message-url')}"
                                    }
                                }
                            },
                            "runAfter": {
                                "put-message-url": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 50
                                }
                            }
                        },
                        "response-success": {
                            "runAfter": {
                                "loop-blobs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "body": {
                                    "blobCount": "@length(triggerBody()?['blobs'])"
                                },
                                "statusCode": 200
                            },
                            "operationOptions": "Asynchronous"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {}
            }
        }
    ],
    "outputs": {
    }
}