archive-monitor/deploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "clusterId": {
            "type": "string",
            "metadata": {
                "description": "Kusto cluster's resource ID"
            }
        },
        "db": {
            "type": "string",
            "metadata": {
                "description": "DB in Kusto cluster where to archive App Insights data"
            }
        }
    },
    "variables": {
        "kusto app name": "kusto-app",
        "archive app name": "archive-app"
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[variables('kusto app name')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "clusterUri": {
                            "type": "String"
                        },
                        "db": {
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "csl": {
                                            "type": "string"
                                        },
                                        "isCommand": {
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "kind": "Http",
                            "type": "Request"
                        }
                    },
                    "actions": {
                        "invoke-kusto": {
                            "inputs": {
                                "authentication": {
                                    "audience": "@parameters('clusterUri')",
                                    "type": "ManagedServiceIdentity"
                                },
                                "body": {
                                    "csl": "@triggerBody()?['csl']",
                                    "db": "@parameters('db')",
                                    "properties": "{\"Options\":{\"queryconsistency\":\"strongconsistency\"},\"Parameters\":{},\"ClientRequestId\":\"archive-app;42\"}"
                                },
                                "headers": {
                                    "Accept-Encoding": "deflate",
                                    "Connection": "Keep-Alive",
                                    "Content-Type": "application/json; charset=utf-8"
                                },
                                "method": "POST",
                                "retryPolicy": {
                                    "type": "none"
                                },
                                "uri": "@concat(parameters('clusterUri'), if(triggerBody()?['isCommand'], '/v1/rest/mgmt', '/v2/rest/query'))"
                            },
                            "limit": {
                                "timeout": "PT5S"
                            },
                            "runAfter": {
                            },
                            "type": "Http"
                        },
                        "is-command": {
                            "actions": {
                                "command-success-response": {
                                    "inputs": {
                                        "body": {
                                            "primary": {
                                                "rows": "@body('invoke-kusto').Tables[0].Rows",
                                                "columns": "@body('invoke-kusto').Tables[0].Columns"
                                            },
                                            "full": "@body('invoke-kusto')"
                                        },
                                        "statusCode": "@outputs('invoke-kusto')['statusCode']"
                                    },
                                    "kind": "http",
                                    "runAfter": {
                                    },
                                    "type": "Response"
                                }
                            },
                            "else": {
                                "actions": {
                                    "primary-result": {
                                        "inputs": {
                                            "from": "@body('invoke-kusto')",
                                            "where": "@equals(item()?.TableKind, 'PrimaryResult')"
                                        },
                                        "runAfter": {
                                        },
                                        "type": "Query"
                                    },
                                    "query-success-response": {
                                        "inputs": {
                                            "body": {
                                                "primary": {
                                                    "rows": "@body('primary-result')[0].Rows",
                                                    "columns": "@body('primary-result')[0].Columns"
                                                },
                                                "full": "@body('invoke-kusto')"
                                            },
                                            "statusCode": "@outputs('invoke-kusto')['statusCode']"
                                        },
                                        "kind": "http",
                                        "runAfter": {
                                            "primary-result": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Response"
                                    }
                                }
                            },
                            "expression": "@triggerBody()?['isCommand']",
                            "runAfter": {
                                "invoke-kusto": [
                                    "Succeeded"
                                ]
                            },
                            "type": "If"
                        },
                        "failure-response": {
                            "inputs": {
                                "body": "@concat('Failure at Kusto:  ', body('invoke-kusto'))",
                                "statusCode": "@outputs('invoke-kusto')['statusCode']"
                            },
                            "kind": "http",
                            "runAfter": {
                                "invoke-kusto": [
                                    "Failed"
                                ]
                            },
                            "type": "Response"
                        }
                    },
                    "outputs": {
                    }
                },
                "parameters": {
                    "clusterUri": {
                        "value": "[reference(parameters('clusterId'), '2019-11-09').uri]"
                    },
                    "db": {
                        "value": "[parameters('db')]"
                    }
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[variables('archive app name')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Logic/workflows', variables('kusto app name'))]"
            ],
            "properties": {
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "db": {
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 30
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "disable-merge-policy": {
                            "inputs": {
                                "body": {
                                    "csl": "@concat('.alter database ', parameters('db'), ' policy merge ''{\"AllowRebuild\":false,\"AllowMerge\":false}'' ')",
                                    "isCommand": true
                                },
                                "host": {
                                    "triggerName": "manual",
                                    "workflow": {
                                        "id": "[resourceId('Microsoft.Logic/workflows', variables('kusto app name'))]"
                                    }
                                }
                            },
                            "runAfter": {
                            },
                            "type": "Workflow"
                        },
                        "check-incomplete-bookmark": {
                            "inputs": {
                                "body": {
                                    "csl": "print incompleteStartIngestionTime()",
                                    "isCommand": false
                                },
                                "host": {
                                    "triggerName": "manual",
                                    "workflow": {
                                        "id": "[resourceId('Microsoft.Logic/workflows', variables('kusto app name'))]"
                                    }
                                }
                            },
                            "runAfter": {
                                "disable-merge-policy": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Workflow"
                        },
                        "if-incomplete-bookmark": {
                            "actions": {
                                "rollback": {
                                    "inputs": {
                                        "body": {
                                            "csl": ".drop extents <| .show database ailogs extents | where MinCreatedOn>=incompleteStartIngestionTime()",
                                            "isCommand": true
                                        },
                                        "host": {
                                            "triggerName": "manual",
                                            "workflow": {
                                                "id": "[resourceId('Microsoft.Logic/workflows', variables('kusto app name'))]"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                    },
                                    "type": "Workflow"
                                }
                            },
                            "expression": "@not(equals(body('check-incomplete-bookmark').primary.rows[0][0], null))",
                            "runAfter": {
                                "check-incomplete-bookmark": [
                                    "Succeeded"
                                ]
                            },
                            "type": "If"
                        },
                        "persist-temporary-bookmark": {
                            "inputs": {
                                "body": {
                                    "csl": ".append Bookmark <| newTemporaryBookmark()",
                                    "isCommand": true
                                },
                                "host": {
                                    "triggerName": "manual",
                                    "workflow": {
                                        "id": "[resourceId('Microsoft.Logic/workflows', variables('kusto app name'))]"
                                    }
                                }
                            },
                            "runAfter": {
                                "if-incomplete-bookmark": [
                                    "Succeeded"
                                ]

                            },
                            "type": "Workflow"
                        },
                        "for-each-table": {
                            "actions": {
                                "append-content": {
                                    "inputs": {
                                        "body": {
                                            "csl": "@concat('.append ', item(), ' <| let lastArchivedIngestionTime = lastArchivedMonitorIngestionTime();let latestIngestionTime = incompleteMonitorMaxIngestionTime();cluster(aiCluster()).database(aiDatabase()).', item(), '   | extend ingestionTime = ingestion_time()   | where isnull(lastArchivedIngestionTime) or ingestionTime > lastArchivedIngestionTime   | where ingestionTime <= latestIngestionTime   | project-away ingestionTime')",
                                            "isCommand": true
                                        },
                                        "host": {
                                            "triggerName": "manual",
                                            "workflow": {
                                                "id": "[resourceId('Microsoft.Logic/workflows', variables('kusto app name'))]"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                    },
                                    "type": "Workflow"
                                }
                            },
                            "foreach": "@split('availabilityResults|browserTimings|customEvents|customMetrics|dependencies|exceptions|pageViews|performanceCounters|requests|traces', '|')",
                            "runAfter": {
                                "persist-temporary-bookmark": [
                                    "Succeeded"
                                ]
                            },
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 1
                                }
                            },
                            "type": "Foreach"
                        },
                        "compute-record-count": {
                            "inputs": {
                                "body": {
                                    "csl": "@concat('.show database ', parameters('db'), ' extents| where MinCreatedOn>=incompleteStartIngestionTime()| summarize RecordCount=max(RowCount)-1')",
                                    "isCommand": true
                                },
                                "host": {
                                    "triggerName": "manual",
                                    "workflow": {
                                        "id": "[resourceId('Microsoft.Logic/workflows', variables('kusto app name'))]"
                                    }
                                }
                            },
                            "runAfter": {
                                "for-each-table": [
                                    "Succeeded"
                                ]

                            },
                            "type": "Workflow"
                        },
                        "make-permanent-bookmark": {
                            "inputs": {
                                "body": {
                                    "csl": "@concat('.set-or-replace Bookmark <| newPermanentBookmark(', body('compute-record-count').primary.rows[0][0], ')')",
                                    "isCommand": true
                                },
                                "host": {
                                    "triggerName": "manual",
                                    "workflow": {
                                        "id": "[resourceId('Microsoft.Logic/workflows', variables('kusto app name'))]"
                                    }
                                }
                            },
                            "runAfter": {
                                "compute-record-count": [
                                    "Succeeded"
                                ]

                            },
                            "type": "Workflow"
                        },
                        "enable-merge-policy": {
                            "inputs": {
                                "body": {
                                    "csl": "@concat('.alter database ', parameters('db'), ' policy merge ''{}'' ')",
                                    "isCommand": true
                                },
                                "host": {
                                    "triggerName": "manual",
                                    "workflow": {
                                        "id": "[resourceId('Microsoft.Logic/workflows', variables('kusto app name'))]"
                                    }
                                }
                            },
                            "runAfter": {
                                "make-permanent-bookmark": [
                                    "Succeeded"
                                ]

                            },
                            "type": "Workflow"
                        }
                    },
                    "outputs": {
                    }
                },
                "parameters": {
                    "db": {
                        "value": "[parameters('db')]"
                    }
                }
            }
        }
    ],
    "outputs": {
        "obj": {
            "type": "object",
            "value": "[reference(parameters('clusterId'), '2019-11-09')]"
        }
    }
}