archive-monitor/deploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "clusterId": {
            "type": "string",
            "metadata": {
                "description": "Kusto cluster's resource ID"
            }
        },
        "db": {
            "type": "string",
            "metadata": {
                "description": "DB in Kusto cluster where to archive App Insights data"
            }
        }
    },
    "variables": {
        "Unique ID": "[uniqueString(resourceGroup().id)]",
        "kusto app name": "kusto-app",
        "archive app name": "archive-app"
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[variables('kusto app name')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "clusterUri": {
                            "type": "String"
                        },
                        "db": {
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "csl": {
                                            "type": "string"
                                        },
                                        "isCommand": {
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "kind": "Http",
                            "type": "Request"
                        }
                    },
                    "actions": {
                        "invoke-kusto": {
                            "inputs": {
                                "authentication": {
                                    "audience": "@parameters('clusterUri')",
                                    "type": "ManagedServiceIdentity"
                                },
                                "body": {
                                    "csl": "@triggerBody()?['csl']",
                                    "db": "@parameters('db')",
                                    "properties": "{\"Options\":{\"queryconsistency\":\"strongconsistency\"},\"Parameters\":{},\"ClientRequestId\":\"archive-app;42\"}"
                                },
                                "headers": {
                                    "Accept-Encoding": "deflate",
                                    "Connection": "Keep-Alive",
                                    "Content-Type": "application/json; charset=utf-8"
                                },
                                "method": "POST",
                                "retryPolicy": {
                                    "type": "none"
                                },
                                "uri": "@concat(parameters('clusterUri'), if(triggerBody()?['isCommand'], '/v1/rest/mgmt', '/v2/rest/query'))"
                            },
                            "limit": {
                                "timeout": "PT5S"
                            },
                            "runAfter": {
                            },
                            "type": "Http"
                        },
                        "success-response": {
                            "inputs": {
                                "body": "@body('invoke-kusto')",
                                "statusCode": "@outputs('invoke-kusto')['statusCode']"
                            },
                            "kind": "http",
                            "runAfter": {
                                "invoke-kusto": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response"
                        },
                        "failure-response": {
                            "inputs": {
                                "body": "@concat('Failure at Kusto:  ', triggerBody()?['invoke-kusto'])",
                                "statusCode": "@outputs('invoke-kusto')['statusCode']"
                            },
                            "kind": "http",
                            "runAfter": {
                                "invoke-kusto": [
                                    "Failed"
                                ]
                            },
                            "type": "Response"
                        }
                    },
                    "outputs": {
                    }
                },
                "parameters": {
                    "clusterUri": {
                        "value": "[reference(parameters('clusterId'), '2019-11-09').uri]"
                    },
                    "db": {
                        "value": "[parameters('db')]"
                    }
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[variables('archive app name')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Logic/workflows', variables('kusto app name'))]"
            ],
            "properties": {
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "db": {
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 30
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "disable-merge-policy": {
                            "inputs": {
                                "body": {
                                    "csl": "@concat('.alter database ', parameters('db'), ' policy merge ''{\"AllowRebuild\":false,\"AllowMerge\":false}'' ')",
                                    "isCommand": true
                                },
                                "host": {
                                    "triggerName": "manual",
                                    "workflow": {
                                        "id": "[resourceId('Microsoft.Logic/workflows', variables('kusto app name'))]"
                                    }
                                }
                            },
                            "runAfter": {
                            },
                            "type": "Workflow"
                        }
                    },
                    "outputs": {
                    }
                },
                "parameters": {
                    "db": {
                        "value": "[parameters('db')]"
                    }
                }
            }
        }
    ],
    "outputs": {
        "obj": {
            "type": "object",
            "value": "[reference(parameters('clusterId'), '2019-11-09')]"
        }
    }
}